.login__main {
  background: rgb(37, 9, 73) !important;
  height: 100vh;
}
.login__row {
  display: flex !important;
  justify-content: center;
  margin: auto;
  height: 100vh;
  align-items: center !important;
}

.login__main .card {
  height: 90% !important;
  width: 450px !important;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  justify-content: center;
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
}
.login__title h2 {
  font-size: 1.6rem;
  font-weight: 600;
}
.login__title p {
  text-align: center;
  color: #444;
  margin-bottom: 5px;
  font-size: 15px;
}
.login__btns {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__btns button {
  height: 45px;
  width: 250px;
  font-weight: 600;
  margin: 10px 0;
}
.login__btns .google {
  border: 2px solid gray;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  color: rgb(61, 61, 61);
}
.login__btns .apple {
  border: 2px solid rgb(19, 18, 18);
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  background-color: rgb(20, 20, 20);
  color: rgb(194, 194, 194);
}
.or__line {
  display: flex;
  align-items: center;
  margin: 10px 0px;
}
.or__line .span-h,
.span-k {
  background: #9e9c9c !important;
  height: 1px;
  width: 120px;
  margin: 0 10px;
  position: relative;
}
.span-p {
  margin: 0 10px;
}
.input_all h5 {
  font-size: 13px;
}
.new__acc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.new__acc button {
  width: 250px;
  height: 40px;
  background: rgb(150, 0, 180);
  border: none;
  border-radius: 5px;
  color: rgb(214, 213, 213);
}
.new__acc p {
  font-size: 14px;
}
